:root {
    --white: #fff;
    --Light10: #E6E9EF;
    --Light20: #9AA4B1;
    --Dark10: #0B0E14;
    --Dark20: #11151C;
    --Dark30: #1B202D;
    --Primary60: #895AF6;
    --Primary70: #AC8BF9;
}

@font-face {
    font-family: "Akira_Expanded";
    src: url("/font/Akira\ Expanded.otf");
}

@mixin HAkiraFont($size) {
    font-family: "Akira_Expanded";
    font-size: $size;
    letter-spacing: .02em;
    line-height: 1.1;
}
@mixin HFont($size) {
    font-family: Arial;
    font-size: $size;
    font-weight: 700;
}
@mixin BFont($size) {
    font-family: Arial;
    font-size: $size;
    font-weight: 300;
}
@mixin FRow($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin FColumn($justify: center, $align: center) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

$Desktop_padding: 0 150px;
$Border_radius2: 2px;
$Transition: .3s;
$gap10: 10px;
$gap20: 20px;
$gap40: 40px;

@mixin CTA_Button ($width: 77px, $height: 29px, $size: 0.75rem){
    width: $width;
    height: $height;
    @include BFont($size);
    @include FRow();
    background-color: var(--Primary60);
    color: var(--Light10);
    border: none;
    border-radius: $Border_radius2;
    transition: $Transition;

    a {
        color: var(--Light10);
        text-decoration: none;
    }
    &:hover {
        border: 1px solid var(--Primary70);
    }
    &:active {
        background-color: var(--Primary70);
    }
}

html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    font-family: Arial;
    box-sizing: border-box;
    background-color: var(--Dark10);
    color: var(--Light10);

    --Width8Columns: calc((100% - 220px) / 12 * 8 + 140px);
    --Width6Columns: calc((100% - 220px) / 2 + 100px);
    --Width5Columns: calc((100% - 220px) / 12 * 5 + 80px);
    --Width4Columns: calc((100% - 220px) / 3 + 60px);
    --Width3Columns: calc((100% - 220px) / 4 + 40px);
    --Width1Column20: calc((100% - 220px) / 12 + 20px);
    --Width1Column40: calc((100% - 220px) / 12 + 40px);

    header {
        width: 100%;
        padding: $Desktop_padding;
        position: sticky;
        top: 0px;
        background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, var(--Dark10) 100%);
        z-index: 10;

        nav {
            height: 75px;
            @include FRow(space-between);

            #logo {
                @include HAkiraFont(4em)
            }
            ul {
                width: var(--Width3Columns);
                @include FRow();
                gap: $gap20;
                list-style: none;

                li {
                    width: calc((100% - 40px) / 3);
                    @include FRow();
                    @include BFont(1em);
                    
                    a {
                        color: var(--Light10);
                        text-decoration: none;

                        &.CTA_Button {
                            @include CTA_Button(97px, 39px, 1rem);
                        }
                    }
                }
            }
        }
    }
    #BG {
        position: fixed;
        top: 0;
        height: 100dvh;
        width: 100%;
        background-image: url("./images/hope.png");
        background-size: cover;
        z-index: -1;
        filter: brightness(.6) blur(10px);
    }
    main {
        width: 100%;
        @include FColumn(flex-start);
        padding: $Desktop_padding;
        overflow-x: hidden;
        background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, var(--Dark10) 90%);

        h2 {
            @include HAkiraFont(4rem);
        }

        #hero {
            height: 100dvh;
            width: 100%;
            @include FColumn();
            gap: $gap20;

            h1 {
                color: var(--white);
                @include HAkiraFont(6rem);
                text-align: center;
            }
            p {
                @include BFont(1.5rem);
            }
            .CTA_Button {
                @include CTA_Button(174px, 54px, 1rem);
            }
        }
        #about-me {
            width: 100%;
            @include FColumn(center,start);
            gap: $gap20;
            padding: 50px 0;

            #Me_Card {
                width: 100%;
                @include FRow(space-between);
                background: linear-gradient(67deg, var(--Dark10) 0%, var(--Dark30) 100%);
                padding: 3.5rem var(--Width1Column20);

                #About_Container {
                    @include FColumn(space-between, start);
                    gap: $gap20;
                    width: var(--Width4Columns);

                    h3 {
                        @include HFont(3rem);
                    }
                    p {
                        @include BFont(1.25rem);
                        color: var(--Light20);
                    }
                    #buttons {
                        @include FRow();
                        gap: $gap20;

                        .CTA_Button {
                            @include CTA_Button(97px, 39px, 1rem);
                        }
                    }
                }
                img {
                    width: var(--Width5Columns);
                }
            }
        }
        #projects {
            position: relative;
            width: 100%;
            @include FColumn(center, start);
            gap: $gap40;
            padding: 50px 0;

            #Projects_Container {
                width: 100%;
                @include FRow(center,start);
                gap: var(--Width1Column40);

                .Project {
                    width: var(--Width6Columns);
                    @include FColumn();
                    gap: $gap20;
                    flex-shrink: 0;
                    background: linear-gradient(160deg, var(--Dark10) 0%, var(--Dark30) 100%);
                    transition: $Transition;

                    img {
                        width: 100%;;
                    }
                    div {
                        width: calc((100% - 100px) / 3 * 2 + 100px);
                        @include FColumn(center, start);
                        gap: $gap20;
                        padding-bottom: 3.5rem;

                        h3 {
                            @include HFont(2.25rem);
                        }
                        p {
                            @include BFont(1rem);
                            color: var(--Light20);
                        }
                        .CTA_Button {
                            @include CTA_Button();
                        }
                    }
                    &.prev {
                        order: 1;
                    }
                    &.active {
                        order: 2;
                    }
                    &.next {
                        order: 3;
                    }
                }
            }
            #arrows {
                position: absolute;
                width: 100%;
                @include FRow();
                padding: 20px;
                gap: calc(var(--Width8Columns) - 80px);

                i {
                    font-size: 3rem;
                    cursor: pointer;
                    transition: $Transition;
                    color: var(--Light10);

                    &:hover {
                        color: var(--Light20);
                        transform: scale(1.1);
                    }
                }
            }
        }
        #contact {
            width: 100%;
            @include FRow(space-between);
            gap: 174px;
            padding: 50px 0;

            div {
                width: var(--Width5Columns);
                @include FColumn(center, start);
                gap: $gap40;

                p {
                    @include BFont(1.5rem);
                    color: var(--Light20);
                }
            }
            #socials {
                width: var(--Width5Columns);
                gap: $gap20;

                a {
                    @include FRow();
                    gap: $gap40;
                    @include HFont(2rem);
                    color: var(--Light10);
                    text-decoration: none;

                    i {
                        width: 3.5rem;
                        text-align: center;
                        font-size: 3.5rem;
                        color: var(--Primary70);
                    }
                } 
            }
        }
    }
    footer {
        @include FRow();
        @include BFont(1rem);
        padding: 20px;
        background-color: var(--Dark10);
        color: var(--Light20);
    }
}